{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="landing-page">
    <div class="landing-page-main-container">
        <div class="left-container">
            <img src="{% static 'images/coding.jpg' %}" alt="coding image">
        </div>
        <div class="right-container">
            <h1>A New Way to Learn</h1>
            <p>Code sphere is the best plateform to enhance your skills, expand your knowledge and prepare for technical interviews</p>
            <a href="/"><button>Create Account <i class="ri-arrow-right-s-line"></i> </button></a>
        </div>
    </div>
    <div class="landing-page-part-two">
        <div class="landing-page-part-two-left">
            <h2>Start Exploring <i class="ri-bluesky-fill"></i> </h2>
            <span>Explore is well organized tool that helps you to get most out of <br> CodeSphere by providing structure to guide your progress towarads the next <br> step in your programing carrer.</span>
            <a href="/">Get Started  <i class="ri-arrow-right-s-line"></i> </a>
            
        </div>
        <div class="landing-page-part-two-right">

        </div>
        
    </div>
    

</section>
{% endblock %}
