{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="landing-page">

    <!-- part one  -->
    <div class="landing-page-main-container">
        <div class="left-container">
            <img src="{% static 'images/coding.jpg' %}" alt="coding image">
        </div>
        <div class="right-container">
            <h1>A New Way to Learn</h1>
            <p>Code sphere is the best plateform to enhance your skills, expand your knowledge and prepare for technical interviews</p>
            <a href="/"><button>Create Account <i class="ri-arrow-right-s-line"></i> </button></a>
        </div>
    </div>

    <!-- part two  -->

    <div class="landing-page-part-two">
        <div class="landing-page-part-two-left">
            <h2>Start Exploring <i class="ri-bluesky-fill"></i> </h2>
            <span>Explore is well organized tool that helps you to get most out of <br> CodeSphere by providing structure to guide your progress towarads the next <br> step in your programing carrer.</span>
            <a href="/">Get Started  <i class="ri-arrow-right-s-line"> </i> </a>
            
        </div>
        
    </div>

    <!-- part three -->

    <div class="landing-page-part-three">
        <div class="landing-page-part-three-left">
            <div class="hexgons" class="items">
                <i class="ri-hexagon-line first-hexagon"></i>
                <i class="ri-hexagon-line second-hexagon"></i>
                <i class="ri-hexagon-line third-hexagon"></i>
            </div> 
            <h2 class="items">Questions, Community & Contests</h2>
            <span class="items">Number of questions for you to practice. Come and join one of the largest tech communities with hundreds of thousands of active users and participate in our contests to challenge yourself and earn rewards.</span>
            <a href="/"  class="items">View Questions  <i class="ri-arrow-right-s-line"> </i>  </a>
        </div>
        <div class="landing-page-part-three-right">
            <div class="hexgons" class="items">
                <i class="ri-hexagon-line first-hexagon"></i>
                <i class="ri-hexagon-line second-hexagon"></i>
            </div> 
            <h2 class="items">Companies & Candidates</h2>
            <span class="items">Number of questions for you to practice. Come and join one of the largest tech communities with hundreds of thousands of active users and participate in our contests to challenge yourself and earn rewards.</span>

            <a href="/"  class="items">Business opportunities  <i class="ri-arrow-right-s-line"> </i>  </a>
        </div>

    </div>

    <!-- part four -->

    <div class="landing-page-part-four">
        <div><i class="ri-hexagon-line"></i> <i class="ri-code-s-slash-fill"></i> </div>
        <h2>Developer</h2>
        <p>We now support multiple coding languages. At our core, CodeSphere is about developers. Our powerful developement tools such as playground help you test, and even write your own projects online.</p>
    </div>

    <!-- part five -->  

    <div class="playground-section">
        <div id="editor" class="editor-container"></div>

    </div>
    
    <script src="{% static 'js/monaco-editor.js' %}"></script>
</section>
{% endblock %}
