{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="problems-page-left-container">
    <div class="course-main-container">
        <div class="python-course-container course-container"></div>
        <div class="java-course-container course-container"></div>
        <div class="cpp-course-container course-container"></div>
    </div>

    <!-- Toggle Button -->
    <button id="toggle-button">▼ Expand</button>

    <div class="problems-category-container">
        {% for category in categories %}
           <a href="/">{{ category }} <span class="no-of-problems">0</span></a>
        {% endfor %}
   
    </div>
    <div class="problems-filter-container"></div>
</div>

{% endblock %}
