/* General Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #413333;
    background-color: #2e2a2a;
    height:60px;
    width: 100%;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;  
}

 .logo img {
    height: 60px;
    width: 50px;
    margin-left: 50px;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-top: 7px;
}

.logo h3{
    color: white;
    font-size: 20px;
    margin-left: -4px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 50px;
    padding: 8px 15px 10px 15px;
    cursor: pointer;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    padding: 8px 15px 10px 15px;
    transition: background-color 0.1s ease-out, color 0.5s ease-out;
    border-radius: 40px;
    font-weight: 400;
    
}

.nav-links a:hover {
    background-color: white;
    color: black;
    border-radius: 40px;
    transition:background-color 1s ease-out;
}

.auth-links .btn {
    padding: 8px 15px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: bold;
    margin-left: 10px;
    background-color: hsl(26, 82%, 54%);
}



.auth-links .btn-login {
    background-color: hsl(26, 82%, 54%);
    border: none;
    margin-right: 20px;
}

.auth-links .btn:hover {
    opacity: 0.9;
}
