<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Reset Password | CodeSphere</title>
    <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
</head>
<body>
<div class="container form-container sign-in-container">
    <form method="POST">
        {% csrf_token %}
        <h1>Reset Password</h1>
        <p>Enter your email and we’ll send you a link to reset your password.</p>
        {{ form.email }}
        <button type="submit">Send Reset Link</button>
    </form>
</div>
</body>
</html>
