.landing-page{
    background-color: #2C2C2C;
}

.landing-page-main-container{
    display: flex;
    height: 450px;
    width: 100%;
}
.left-container{
    width: 50%;
    height: 100%;
}
.left-container img {
    position: relative; 
    height: 265px;
    width: 370px; 
    border-radius: 25px; 
    top: 150px;
    left: 100px;
    transform: rotate(-10deg);
    box-shadow: 50px 40px 30px rgba(88, 86, 86, 0.5);
}

.right-container{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.right-container h1{
    color: #ffff;
    font-size: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

.right-container p{
    color: #ffff;
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    letter-spacing: 0.03em;
    line-height: 1.9em;
    opacity: 0.5;
    max-width: 600px;
    text-align: center;
}

.right-container button{
    margin-top: 30px;
    background: #1da09c;
    color: white;
    font-weight: 300;
    letter-spacing: 0.03em;
    font-size: 12px;
    border-radius: 1020px;
    border: #1da09c;
    cursor: pointer;
    padding: 10px 15px;
}

.right-container a {
    text-decoration: none;
}

.landing-page-part-two{
    width: 100%;
    height: 300px;
}

.landing-page-part-two-left{
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    text-align: end;
    width: 55%;
    height: 250px;
}

.landing-page-part-two .ri-bluesky-fill{
    font-size: 100px;
    position: relative;
    top: 20px;
    left: 20px;
}
.landing-page-part-two a{
    text-decoration: none;
}
.landing-page-part-two-left h2{
    position: relative;
    color: #1da09c;
    font-weight: 500;
    font-size: 22px;
    margin-top: 50px;
    line-height: 1.5em;
    left: 30px;
}

.landing-page-part-two-left span{
    color: #ffff;
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    letter-spacing: 0.03em;
    line-height: 1.9em;
    opacity: 0.5;
    margin-top: 20px;
}

.landing-page-part-two-left a{
    font-size: 15px;
    margin: 15px 17px 0 0;
    letter-spacing: 0.03em;
    color: #0088CC;
    display: inline-flex;
}

.landing-page-part-three{
    display: flex;
    flex-direction: row;
    margin-top: 100px;

}

.landing-page-part-three-left{
    width: 50%;
    height: 350px;
    display: flex;
    flex-direction: column;
}

.landing-page-part-three-left .items , .hexgons{
    margin-left: 100px;
    margin-right: 40px;
    position: relative;
    
}

.landing-page-part-three-left .hexgons i{
    position: ralative;
    font-size: 84px;
    font-weight: 800;
}

.landing-page-part-three-left .hexgons .first-hexagon{
    color: #45b4eb;
    z-index: 1;
}

.landing-page-part-three-left .hexgons .second-hexagon{
    position: relative;
    right: 40px;
    color: #14c720;
    z-index: 2;
}
.landing-page-part-three-left .hexgons .third-hexagon{
    position: relative;
    right: 80px;
    color: orange;
    z-index: 3;
}

.landing-page-part-three-left h2{
    font-weight: 700;
    font-size: 23px;
    margin-top: 5px;
    margin-bottom: 10px;
    line-height: 1.5em;
    color:#0088CC ;
}

.landing-page-part-three-left span{
    color: #ffff;
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    letter-spacing: 0.03em;
    line-height: 1.9em;
    opacity: 0.5;
    margin-top: 10px;
}

.landing-page-part-three-left a{
    font-size: 15px;
    margin-top: 15px;
    letter-spacing: 0.03em;
    color: #0088CC;
    display: inline-flex;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.landing-page-part-three-right{
    display: flex;
    flex-direction: column;
    height: 350px;
    width: 50%;
}

.landing-page-part-three-right .items{
    margin-left: 30px;
}

.landing-page-part-three-right .hexgons i{
    position: ralative;
    font-size: 84px;
    font-weight: 800;
}

.landing-page-part-three-right .hexgons .first-hexagon{
    position: relative;
    right: 75px;
    color: #b7892b;
    z-index: 4;
}
.landing-page-part-three-right .hexgons .second-hexagon{
    position: relative;
    right: 115px;
    color: gray;
    z-index: 2;
}

.landing-page-part-three-right h2{
    font-weight: 700;
    font-size: 23px;
    margin-top: 5px;
    margin-bottom: 10px;
    line-height: 1.5em;
    color:#b7892b ;
}

.landing-page-part-three-right span{
    color: #ffff;
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    letter-spacing: 0.03em;
    line-height: 1.9em;
    opacity: 0.5;
    margin-top: 10px;
}

.landing-page-part-three-right a{
    font-size: 15px;
    margin-top: 15px;
    letter-spacing: 0.03em;
    color: #0088CC;
    display: inline-flex;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* part four */

.landing-page .landing-page-part-four {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
    margin-top: 80px;
}

.landing-page .landing-page-part-four h2 {
    font-weight: 700;
    font-size: 23px;
    margin: 5px 0 10px 0;
    line-height: 1.5em;
    color: #1da09c;
}

.landing-page .landing-page-part-four p {
    color: #fff;
    font-size: 15px;
    line-height: 1.8em;
    max-width: 600px;
    text-align: center;
    margin-top: 10px;
    opacity: 0.5;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}

.landing-page .landing-page-part-four .ri-hexagon-line {
    position: relative;
    font-size: 80px;
    font-weight: bold;
    color: #1da09c;
    left: 15px;
}
.landing-page .landing-page-part-four .ri-code-s-slash-fill {
    position: relative;
    font-size: 20px;
    color: #1da09c;
    right: 42px;
    bottom: 19px;
}

.playground-section .editor-container {
    height: 400px;
    width: 80%;
    border: 1px solid #ddd;
}
