<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %} 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="{% static 'images/logo.png' %}" type="image/png" >

    <title>{% block title %}CodeSphere{% endblock %}</title>

    <!-- Link to CSS -->

    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/landing_page.css' %}">
</head>
<body>
    <!-- Include Header -->
    {% include 'header.html' %}

    <!-- Main Content Area -->
    <main>
        {% block content %}
        <!-- Default content can go here (optional) -->
        {% endblock %}
    </main>

    <!-- Include Footer -->
    {% include 'footer.html' %}
</body>
</html>
