<header>
    <nav class="navbar">
        <div class="logo">
            <a href="/">
                
            </a>
        </div>
        <ul class="nav-links">
            <li><a href="/">Explore</a></li>
            <li><a href="/">Problems</a></li>
            <li><a href="/contest/">Contest</a></li>
            <li><a href="/discuss/">Discuss</a></li>
            <li><a href="/interview/">Interview</a></li>
        </ul>
        <div class="auth-links">
            <a href="/register/" class="btn btn-signup">Sign Up</a>
            <a href="/login/" class="btn btn-login">Login</a>
        </div>
    </nav>
</header>
